{% extends 'admin/base_site.html' %}

{% block content %}
<form action="" method="post">
   {% csrf_token %}
   Search String: <input type="text" name="search"><br>
   Number of Results: <input type="number" name="number"  min="1" max="100" value="50"><br>
   Type:
   <select name="type">
     <option value="recent">Recent</option>
     <option value="mixed">Mixed</option>
     <option value="popular">Popular</option>
   </select>
   <br>

   <input type="hidden" name="action" value="howmany" />
   <input type="submit" name="apply" value="Update" />
</form>
{% endblock %}
